extends ../layouts/default

block vars
  - var section = 'agenda';
  - var klass = 'agenda';


block content
  .container
    .row
      .col-md-10.col-md-offset-1
        h1
          | Agenda
        each day in timetable
          h2 #{day.name}
          table
            tr
              th Time
              each track in day.tracks
                  th #{track.name}
              th Time
            each slots in day.slots
              tr
                td #{moment.tz(slots.start, 'America/Montevideo').format('HH:mm')}
                each slot in slots.slots
                  if slot
                    td(colspan=slot.colspan, rowspan=slot.rowspan) #{slot.name}
                td #{moment.tz(slots.start, 'America/Montevideo').format('HH:mm')}

        h2  #1 - Friday, April 24th
        p.coming The agenda will be available coming soon.
        h2  #2 - Saturday, April 25th
        p.coming The agenda will be available coming soon.
