extends ../layouts/default

block vars
  - var section = 'home';
  - var klass = 'home';

block top
  .top
    include ../../public/images/home/city.svg
    ul
      li(class=(section == 'home' ? 'active' : null))
        a(href='/') Home
      // li(class=(section == 'cfp' ? 'active' : null))
      //   a(href='/proposals') Call for Proposals
      // li(class=(section == 'cfw' ? 'active' : null))
      //   a(href='/workshops') Call for Workshops
      li
        a(href='/#speakers') Speakers
      li
        a(href='/#sponsors') Sponsors
      li
        a(href='/schedule') Schedule
      li
        a(href='/venue') Venue
      li
        a(href='/hotels') Hotels
      // li
      //   a(href='/code-of-conduct') Code of Conduct
      li
        a(href='/blog') Blog
      li
        a(href='http://2014.jsconf.uy/') Last Year
      li
        a(href='javascript:void(0);', data-buy) Buy Ticket!

block content
  //- #tickets-sale.tickets-sale
  //-   .buy-tickets
  //-     a(href='javascript:void(0);', data-buy)
  //-     // .sold-out
  //-   .countdown
  //-     h2.countdown-title
  //-       | Final batch starts in...
  //-     span.countdown-clock
  #speakers.speakers
      h1 Meet the Speakers
      ul
        each speaker in speakers
          li
            if speaker.picture.exists
              .img(style='background-image: url(#{speaker._.picture.fill(230,230)})')
            else
              .img.empty
            .name
              != speaker.name
            .bio
              != speaker.biography.short.html
            if speaker.company
              .company
                != speaker.company
            if speaker.twitter
              a(href='//twitter.com/#{speaker.twitter}')
                i(class='fa fa-twitter')
  #sponsors.sponsors
    h1 Sponsors
    ul
      each sponsorLevel in sponsorLevels
        ul
          each sponsor in sponsorLevel.sponsors
            li
              a.img(href='#{sponsor.url}', target='_blank', style='height: #{sponsor.level.size}px; width: #{sponsor.level.size}px; background-image: url(#{sponsor._.logo.pad(sponsor.level.size, sponsor.level.size)})')

    h2 Interested?
    p.text-center
      | Contact us at 
      a(href='mailto:hola@jsconf.uy') hola@jsconf.uy
  .organizers
    h1 Organizers
    ul
      each organizer in organizers
        li
          if organizer.picture.exists
            .img(style='background-image: url(#{organizer._.picture.fill(230,230)})')
          else
            .img.empty
          a.name(href='//twitter.com/#{organizer.twitter}')
            != organizer.name

  .volunteers
    h1 Volunteers
    ul
      each volunteer in volunteers
        li
          if volunteer.picture.exists
            .img(style='background-image: url(#{volunteer._.picture.fill(230,230)})')
          else
            .img.empty
          a.name(href='//twitter.com/#{volunteer.twitter}')
            != volunteer.name

block js
  script(src='/js/lib/jquery.countdown.min.js')
  script(src='/js/home.js')
