extends ../layouts/default

block vars
  - var section = 'hotels';
  - var klass = 'hotels';


block content
  .container
    .row
      .col-md-10.col-md-offset-1
        h1 Hotels
  
  .container.marketing
  
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | After Hotel

        p.hotel-description
          | After Hotel Montevideo has been conceived as the optimum 
          | accommodation alternative for visitors coming to Montevideo 
          | on business or for pleasure, providing a complete experience 
          | that offers an array of services and facilities of the highest 
          | caliber.
          
          p.hotel-description
            span.label.label-primary
              i.fa.fa-usd 
              |  USD 90 After Twin
            | 
            span.label.label-primary
              i.fa.fa-usd 
              |  USD 90 After Queen

          p.text-center
            a.book-hotel-btn(href="http://www.afterhotel.com.uy/en/", target="_blank")
              | Book 
              strong
                |  After hotel
          
      .col-md-5
        img.featurette-image.img-responsive.center-block(
          src="/images/hotels/after-hotel.jpg"
        )

    .row.featurette
      .col-md-7.col-md-push-5
        h2.featurette-heading
          | Regency Way

        p.hotel-description
          | A hotel designed to offer the best services to corporate bodies, 
          | with broadband internet, continental breakfast, comfortable 
          | customizable rooms with excellent sound proofing for your comfort 
          | to be perfect and meeting rooms for all type of social and corporate event.
        p.hotel-description
          | The Regency Way Montevideo Hotel find free wifi access in all rooms 
          | and public areas; tablets and touchscreens in the lobby to entertain 
          | or organize your day, Local cellular chip, express check out, self 
          | sevice laundry, vending machines, continental breakfast, pool, free 
          | parking, 90 spaces, gym, sun deck, business center, BBQ, meeting and events.
        
        p.hotel-description
          span.label.label-primary
            i.fa.fa-usd 
            |  USD 70 Junior
          | 
          span.label.label-primary
            i.fa.fa-usd 
            |  USD 75 Executive
          | 
          span.label.label-success
            | PROMO CODE "JSConfUY" 

        p.text-center
          a.book-hotel-btn(
            href="https://hotelesregency.backhotelengine.com/bookcore/availability/rooms/regencywaywi/",
            target="_blank"
          )
            | Book 
            strong
              |  Regency Way
            br
            small.text-muted
              |  with promo code
              strong
                |  JSConfUY
          
      .col-md-5.col-md-pull-7
        img.featurette-image.img-responsive.center-block(
          src="/images/hotels/regency-way-hotel.jpg"
          alt="Generic placeholder image"
        )
