extends ../layouts/default

block vars
  - var section = 'schedule';
  - var klass = 'schedule';


block content
  .container
    .row
      .col-md-10.col-md-offset-1
        h1
          | Schedule
        each day in timetable
          h2 #{day.name} - #{moment.tz(day.start, 'America/Montevideo').format('dddd DD[th], MMMM')}
          table
            tr
              th.time Time
              each track in day.tracks
                  th.track #{track.name}
              th.time Time
            each slots in day.slots
              tr
                td.time
                  if slots.slots[0]
                    | #{moment.tz(slots.start, 'America/Montevideo').format('HH:mm')}
                each slot in slots.slots
                  if slot
                    td(class='slot slot-#{slot.kind}', colspan=slot.colspan, rowspan=slot.rowspan)
                      if slot.kind == 'empty'
                      else
                        - var item = slot.talk || slot.workshop
                        if item
                          .title
                            = item.title || slot.name
                          .description
                            != item.description.html
                          .speakers
                            for speaker in item.speakers
                              .speaker
                                .picture(style='background-image: url(#{speaker._.picture.fill(40,40)})')
                                .name
                                  =speaker.name
                        else if slot.content
                          | #{slot.content}
                        else
                          | #{slot.name}
                td.time
                  if slots.slots[slots.slots.length - 1]
                    | #{moment.tz(slots.start, 'America/Montevideo').format('HH:mm')}

block js
  script(src='/js/schedule.js')
