include ../mixins/flash-messages

- var title = 'JSConfUY April 24th and 25th - Montevideo';
- var section = '';
- var klass = '';
block vars

doctype html
html(class='#{klass}')

  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || 'JSConfUY'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(href="/styles/site.css", rel="stylesheet")
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    block css

    block head

  body

    block top

    block header
      nav(role="navigation").navbar.navbar-default.navbar-fixed-top
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/images/logo.png', alt='JSConf Uruguay')
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=(section == 'home' ? 'active' : null))
              a(href='/') Home
            // li(class=(section == 'cfp' ? 'active' : null))
            //  a(href='/proposals') Call for Proposals
            li
              a(href='/#speakers') Speakers
            li
              a(href='/#sponsors') Sponsors
            li(class=(section == 'venue' ? 'active' : null))
              a(href='/venue') Venue
            li(class=(section == 'hotels' ? 'active' : null))
              a(href='/hotels') Hotels
            li(class=(section == 'coc' ? 'active' : null))
              a(href='/code-of-conduct') Code of Conduct
            li(class=(section == 'blog' ? 'active' : null))
              a(href='/blog') Blog
            // li
            //  a(href='javascript:void(0);', data-buy) Buy
            li
              a(href='http://2014.jsconf.uy/') Last Year

    block main

      block content

    block modals
      #buy.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', data-ticket='#{buy.ticket || ""}', data-discount='#{buy.discount || ""}')
        .modal-dialog
          .modal-content
            .modal-body
              .indicators
                .indicator.indicator-select
                  i(class='glyphicon glyphicon-shopping-cart')
                  span Select
                .indicator.indicator-payment
                  i(class='glyphicon glyphicon-credit-card')
                  span Payment
                .indicator.indicator-assign
                  i(class='glyphicon glyphicon-tag')
                  span Assign
              .steps
                .step.step-select
                  .loading
                    .loader
                  .soldout
                    | We're sold out.
                  .tickets
                    .title Tickets
                    ul
                  .discount
                    .code
                  .note
                    | Any questions please contact 
                    a(href='mailto:hola@jsonf.uy') hola@jsconf.uy
                .step.step-payment
                  .loading
                    .loader
                  .info
                    .data
                      .title Personal Info
                  .info
                    .data
                      input(name='name', placeholder='Full name')
                    .data
                      input(name='email', placeholder='Email address')
                  .info
                    .data
                      .title Billing Details
                      input(name='address1', placeholder='Address')
                      input(name='address2', placeholder='')
                      input(name='city', placeholder='City')
                      input(name='state', placeholder='State')
                      input(name='postcode', placeholder='Zip code')
                      input(name='country', placeholder='Country')
                    .data
                      .title Card
                      input(name='card_number', autocomplete='off', placeholder='Card number')
                      .info
                        .data
                          input(name='card_expiration', autocomplete='off', placeholder='MM/YY')
                        .data
                          input(name='card_cvc', autocomplete='off', placeholder='CVC')
                      .separator
                      .detail 3 Early Bird x $ 100
                      .total Total: $ 300
                      .action
                        button Place Order
                  .note
                    | Any questions please contact 
                    a(href='mailto:hola@jsonf.uy') hola@jsconf.uy
                .step.step-assign
                  .loading
                    .loader

    block footer
      footer
        .footer
          .venue-info
            .venue
              h1 The Venue
              h2 Antel Auditorium
            .info
              h3 Additional Information
              | Please feel free to contact us at
              a(href='mailto:hola@jsonf.uy') hola@jsconf.uy
              | if you need assistance with flight, hotel bookings and with general rules about getting to the country, we are glad to help.
              h3 Stay In Touch
              .data
                input(name='email', placeholder='Email address')
                button Subscribe
          #map.map
        .copy
          .box
            a(href='http://meetup.com/mvd-js') Open Web Uruguay
            a(href='/code-of-conduct') Code of Conduct

    script.
      var TWOCO_SELLER_ID = '#{twoco_seller_id}';
      var TWOCO_PUBLIC_KEY = '#{twoco_public_key}';
    script(src='//www.2checkout.com/checkout/api/2co.min.js')
    script(src='//maps.googleapis.com/maps/api/js?sensor=false')
    script(src='/js/lib/jquery/jquery-2.1.1.min.js')
    script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')
    script(src='/js/lib/jquery.bootstrap-autohidingnavbar.js')
    script(src='/js/base.js')

    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    block js
