- var title = 'JSConf Uruguay 2015 - Montevideo, April 24th-25th';
- var section = '';
- var klass = '';
block vars

doctype html
html(class='#{gold} #{klass}', lang='en', prefix='og: http://ogp.me/ns#')

  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title
    meta(name='description', content='A Javascript conference made with love for the latin american community.')

    link(href="/styles/site.css", rel="stylesheet")
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    meta(name='robots', content='INDEX, FOLLOW')
    meta(name='geo.region', content='UY')

    meta(property='og:type', content='website')
    meta(property='og:site_name', content='JSConfUY')
    meta(property='og:title', content='JSConf Uruguay 2015 - Montevideo, April 24th-25th')
    meta(property='og:description', content='A Javascript conference made with love for the latin american community.')
    meta(property='og:image', content='/images/meta/facebook-1200x630.png')
    meta(property='og:image:type', content='image/png')
    meta(property='og:image:width', content='1200')
    meta(property='og:image:height', content='630')
    meta(property='og:url', content='https://jsconf.uy')

    meta(property='twitter:card', content='summary_large_image')
    meta(property='twitter:site', content='@JSConfUY')
    meta(property='twitter:creator', content='@JSConfUY')
    meta(property='twitter:title', content='JSConf Uruguay 2015 - Montevideo, April 24th-25th')
    meta(property='twitter:description', content='A Javascript conference made with love for the latin american community.')
    meta(property='twitter:image:src', content='/images/meta/twitter-post-750x560.png')
    meta(property='twitter:image:width', content='435')
    meta(property='twitter:image:height', content='375')
    meta(property='twitter:url', content='https://jsconf.uy')

    link(rel='apple-touch-icon', sizes='57x57', href='/images/meta/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/images/meta/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/meta/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/images/meta/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/meta/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/images/meta/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/meta/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/images/meta/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/meta/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/images/meta/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/images/meta/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/images/meta/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/images/meta/favicon-16x16.png')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/images/meta/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    block css

    block head

  body

    block top

    block header
      nav(role="navigation").navbar.navbar-default.navbar-fixed-top
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            if gold
              img(src='/images/base/logo-gold.png', alt='JSConf Uruguay')
            else
              img(src='/images/base/logo.png', alt='JSConf Uruguay')
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=(section == 'home' ? 'active' : null))
              a(href='/') Home
            // li(class=(section == 'cfp' ? 'active' : null))
            //   a(href='/proposals') Call for Proposals
            // li(class=(section == 'cfw' ? 'active' : null))
            //   a(href='/workshops') Call for Workshops
            li
              a(href='/#speakers') Speakers
            li
              a(href='/#sponsors') Sponsors
            li(class=(section == 'venue' ? 'active' : null))
              a(href='/venue') Venue
            li(class=(section == 'hotels' ? 'active' : null))
              a(href='/hotels') Hotels
            li(class=(section == 'coc' ? 'active' : null))
              a(href='/code-of-conduct') Code of Conduct
            li(class=(section == 'blog' ? 'active' : null))
              a(href='/blog') Blog
            li
              a(href='http://2014.jsconf.uy/') Last Year
            li
              a(href='javascript:void(0);', data-buy) Buy Ticket!

    block main

      block content

    block modals
      #buy.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', data-order='#{buy.order || ""}', data-ticket='#{buy.ticket || ""}', data-discount='#{buy.discount || ""}')
        .modal-dialog
          .modal-content
            .modal-body
              .intro
                button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
                img(src='images/base/asap.png')
              .indicators
                .indicator.indicator-select
                  i(class='fa fa-shopping-cart')
                  span Select
                .indicator.indicator-payment
                  i(class='fa fa-credit-card')
                  span Payment
                .indicator.indicator-assign
                  i(class='fa fa-ticket')
                  span Assign
              .steps
                .step.step-select
                  .loading
                    .loader
                  .description
                    span A Ticket includes
                    ul
                      li
                        i(class='fa fa-check')
                        |  Two day access Lanyard
                      li
                        i(class='fa fa-check')
                        |  Lunch both days
                      li
                        i(class='fa fa-check')
                        |  Breakfast and coffee-breaks
                      li
                        i(class='fa fa-check')
                        |  A cool T-Shirt
                  .discount
                    .code
                  .soldout
                    | We're sold out.
                  .tickets
                    ul
                  .note
                    | To participate in the conference you must adhere to 
                    a(href='/code-of-conduct', target='_blank') our code of conduct
                    | .
                    br
                    | Any questions you may have email us at 
                    a(href='mailto:hola@jsconf.uy', target='_blank') hola@jsconf.uy
                .step.step-payment
                  .loading
                    .loader
                  .invoice
                    .detail
                    .pay
                      button Pay
                  .important
                    | At this point your tickets has been reserved. You have 12 minutes to complete your payment or these will be released.
                  .note
                    | A popup will be open to process with the checkout.
                    br
                    | Any questions please contact 
                    a(href='mailto:hola@jsconf.uy', target='_blank') hola@jsconf.uy
                .step.step-assign
                  .loading
                    .loader
                  .attendees
                    ul
                  .thanks
                    | Thank you!
                  .save
                    button Save & Close
                  .note You can complete this step later.
    block footer
      footer
        .footer
          .venue-info
            .venue
              h1 The Venue
              h2 Antel Auditorium
            .info
              h3 Additional Information
              | Please feel free to contact us at
              a(href='mailto:hola@jsconf.uy', target='_blank') hola@jsconf.uy
              | if you need assistance with flight, hotel bookings and with general rules about getting to the country, we are glad to help.
              h3 Stay In Touch
              form.data(action="//jsconf.us7.list-manage.com/subscribe/post?u=522df5bbc3b97d9e5f5c16fe0&id=7f258c3ebb", method="post")
                input(name='EMAIL', type='email', placeholder='Email address')
                button Subscribe
              .social
                a(href='//twitter.com/jsconfuy') Twitter
                | -
                a(href='//www.facebook.com/JSConfUY') Facebook
                | -
                a(href='//www.youtube.com/user/jsconfuy') YouTube
          #map.map
        .copy
          .box
            a(href='//meetup.com/mvd-js') Open Web Uruguay
            a(href='/code-of-conduct') Code of Conduct

    script(src='//maps.googleapis.com/maps/api/js?sensor=false')
    script(src='/js/lib/jquery/jquery-2.1.1.min.js')
    script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')
    script(src='/js/lib/jquery.bootstrap-autohidingnavbar.js')
    script(src='/js/base.js')

    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40076270-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    block js
